@use "variables" as *;
.footer {
  background: $project-color;
  padding-block: 3%;


   &__description {
    color: $text-color;
    font-weight: 500;
    font-size: max(21px, 2.5vw);
    letter-spacing: 0.01em;
    padding-bottom: 2%;
  }

  &__copyright {
    color: $text-color;
    font-size: max(13px, 0.8vw);
    letter-spacing: 0.01em;
  }
}