@use "variables" as *;
.header {
  background-color: $header-color;

  ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
  }

  li{
    padding-bottom: 30px;

    a{
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      font-size: max(16px,1.5vw);
    }
    :hover {
      color: #34547A;
      font-weight: 500;
    }
  }
}

.header__navbar {
  padding-top: 79px;
  padding-bottom: 10%;
}

@media (max-width: 375px) {

  .header {
    &__navbar {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 16px;
      }
    }
  }
}
